<?xml version="1.0"?>

<configuration>

  <appSettings>

    <!-- Path for log files, filename format is the current date of the form YYYYMMDD.log -->
    <add key="LogFilesPath" value="LogFiles" />

    <!-- Logging level to use and can be any of: All, Finest, Finer, Fine, Info, Config, Warning, Severe, Off -->
    <add key="LogLevel" value="Info" />

    <!-- XML Equipment configuration filename -->
    <!--<add key="XmlEquipmentConfigFilename" value="App_Data\EquipmentConfig1.xml" />-->
    <!--<add key="XmlEquipmentConfigFilename" value="App_Data\EquipmentConfig2.xml" />-->
    <add key="XmlEquipmentConfigFilename" value="App_Data\EquipmentConfig2_Simulation.xml" />

    <!-- LabServer: Comma-separated LabServer's name, LabServer's guid and LabServer's passkey -->
    <!-- <add key="LabServer" value="localhost, 8C0BA543419E4d4ab340d449acd3e057, fd3cf16cc855484fb06801379f475837"/> -->
    <add key="LabServer" value="localhost, FF464E3507564f28A64F156282BB912E, fd3cf16cc855484fb06801379f475837"/>

    <!-- Authenticating: If true, deny access if the LabServer's guid and passkey are not valid -->
    <add key="Authenticating" value="false" />
    <!-- LogAuthentication: If true, log the LabServer's guid and passkey -->
    <add key="LogAuthentication" value="false" />

  </appSettings>

  <connectionStrings/>

  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">

    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->


  </system.web>

</configuration>
